# use glob syntax.
syntax: glob
*.class
*~
*.bak
*.off
*.old

# Eclipse
.classpath
.project
.settings

com.ur.urcap.sample.XMLRPCmath/.settings/
com.ur.urcap.sample.XMLRPCmath/.gitignore
com.ur.urcap.sample.XMLRPCmath/target/classes/
com.ur.urcap.sample.XMLRPCmath/target/test-classes/
com.ur.urcap.sample.XMLRPCmath/target/generated-sources/
com.ur.urcap.sample.XMLRPCmath/target/generated-test-sources/
com.ur.urcap.sample.XMLRPCmath/target/maven-status/
com.ur.urcap.sample.XMLRPCmath/target/surefire-reports/
com.ur.urcap.sample.XMLRPCmath/.pydevproject
